.profile-modal-form {
  position: absolute;
  width: 40vw;
  min-width: 420px;
  max-width: 30em;
  background-color: $background-gray; opacity: 1.0;
  left: 50%;
  top: 5vh;
  transform: translate(-50%, 0);
  z-index: 10;
  padding: 20px;
  box-sizing: border-box; 
  font-family: sans-serif;
  label {
    display: block;
    width: 100%;
    margin-bottom: 0.4em;
  }
  input, textarea {
    display: block;
    padding: 0.2em;
    width: 100%;
    background-color: white;
    line-height: 2;
    border: 1px solid blue;
    margin: 0 auto;
    margin-bottom: 10px;
    box-sizing: border-box; 
  }
  textarea {
    resize: none;
  }
  button {
    display: block;
    margin-top: 0.5em;
    padding: 8px;
    border: 2px solid $save-button-green;
    color: $save-button-green; 
  }
}