.header-search-form-container {
  position: relative;
  z-index: 3;
}

.header-results-container {
  min-height: 150px;
  width: 97vw;
  position: absolute;
  top: 50px;
  left: 10px;
  background-color: #d4d4d4;
  overflow: hidden;
  overflow-y: scroll;
  @include md {
    width: 400px;
  }
  > h3 {
    border-bottom: 1px solid #c5c3c3;
    padding: 10px;
    font-size: 15px;
  }
}

.header-search-li {
  height: 100px;
  color: black;
  border-top: 1px solid black;
  a {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    background-color: #e2dede;
  }
  a:hover {
    background-color: #bdbdbd;  
  }
  img {
    height: 80px;
    width: 80px; 
  }
  div {
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
  }
}

.header-no-results {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
  height: 180px;
  align-items: center;
}