$session-dark-gray: #181717;
$session-gray: #47413f;
$session-light-gray: #5D5250 ;
$session-lightest-gray: #998a87;
$session-link-blue: #5492b8;
$session-button-white: #F0DBD9;

$error-form-red: #b31313;
$error-form-gray: #252121;

$background-gray: #f1f5f7;

$annotation-purple: #836eb3;
$annotation-gray: #e4e4e4;
$lyrics-background-gray: #ffffffab;
$lyrics-edit-gray: #c0c0c062;
$save-button-green: #68d634;