$session-dark-gray: #181717;
$session-gray: #47413f;
$session-light-gray: #5D5250 ;
$session-lightest-gray: #998a87;
$session-link-blue: #5492b8;
$session-button-white: #F0DBD9;

$error-form-red: #b31313;
$error-form-gray: #252121;

$profile-background-gray: #f1f5f7;