#album-show-hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  @include dark-overlay;
  z-index: 1;
}

.album-show-image-container {
  background-color: gray;
  width: 300px;
  height: 300px;
  border: 3px solid gray;
  margin-top: auto 0;
  #album-show-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.album-show-header-info-container {
  box-sizing: border-box;
  background: transparent;
  width: 400px;
  font-family: sans-serif;
  margin: auto 0;
  margin-right: 25%;
  padding-left: 1.2em;
  padding-bottom: 10em;
  span {
    color: yellow;
    font-size: 15px;
  }
  h1 {
    color: white;
    font-size: 38px;
    font-weight: 700;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
  }
  h2 {
    color: white;
    font-size: 24px;
    font-weight: 700;
  }
  h2:hover {
    color: lightblue;
  }
}