.album-show-page {
  background-color: $background-gray;
  min-height: 1000px;
}

.album-show-header {
  min-height: 350px;
}

.album-show-header-info-container {
  box-sizing: border-box;
  background: transparent;
  width: 400px;
  font-family: sans-serif;
  margin-right: 30%;
  padding-top: 60px;
  padding-left: 15px;
}