.album-show-main-col-1 {
  button {
    display: block;
    margin-top: 0.8em;
    margin-bottom: 1.5em;
    background-color: transparent;
    border: 2px solid black;
    padding: 10px;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 500;
  }
  ul {
    margin-top: 1.6em;
  }
}

.album-show-track-panel {
  background-color: inherit;
  border: 1px solid lightgray;
  width: 100%;
  max-width: 20em;
  height: 3em;
  box-sizing: border-box;
  a {
    display: block;
    padding: 1em;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 550;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  a:hover {
    background-color: #acb6c0;
  }
}

.album-show-main-col-2 {
  padding: 1.4em;
  .album-show-description {
    background-color: white;
    font-family: sans-serif;
    min-height: 100px;
    padding: 10px;
    padding-bottom: 30px;
    box-sizing: border-box;
    h3 {
      font-size: 16px;
      font-weight: 550;
      margin-bottom: 0.5em;
    }
    p {
      font-size: 19px;
      word-wrap: break-word;
      margin-bottom: 15px;
    }
    p:last-of-type {
      margin-bottom: 0;
    }
  }
}