.track-show-column-first {
  background-color: $lyrics-background-gray;
  padding: 15px;
  p, #edit-textarea {
    font-size: 17px;
    line-height: 1.8;
    font-family: sans-serif;
  }
  p {
    word-wrap: break-word;
  }
}

.track-show-lyrics-container {
  >div {
    margin-bottom: 40px;
  }
}

.track-show-lyrics-container button {
  padding: 8px;
  border: 2px solid black;
  margin-right: 10px;
  font-size: 17px;
  &:first-of-type {
    margin-bottom: 15px;
  }
}

#lyrics-edit-save-button {
  border: 2px solid $save-button-green;
}

#edit-textarea {
  background-color: $lyrics-edit-gray;
  resize: none;
  overflow: none;
  width: 98%;
}

#lyrics-container {
  z-index: 2;
}
