.track-show-page {
  background-color: $background-gray;
  min-height: 1000px;
  padding-bottom: 3em;
}

.track-show-header {
  min-height: 15.5em;
  padding-top: 1.2em;
  padding-bottom: 0.65em;
}

.track-show-main {
  background-color: white;
  min-height: 400px;
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  padding-bottom: 4em;
  grid-template-columns: 55% 45%;
  padding-top: 1.2em;
}

.no-tracks-shown {
  width: 100%;
  height: 100%;
  padding-top: 200px;
  h2 {
    display: flex;
    justify-content: center;
    width: 400px;
    margin: 0 auto;
    font-size: 60px;
  }
  p {
    display: flex;
    justify-content: center;
    font-size: 18px;
    width: 400px;
    margin: 0 auto;   
  }
}

.track-show-footer {
  height: 2em;
  background-color: $background-gray;
}