.annotated-lyrics {
  background-color: gray;
  box-sizing: border-box;
  padding: 3px 0;
}

.annotated-lyrics:hover {
  cursor: pointer;
  background-color: yellow;
}

#lyrics-container {
  background-color: blue;
}