.page-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 42px;
  background-color: yellow;
  font-family: sans-serif;
  z-index: 3;
}

.header-search-form {
  display: flex;
  background-color: white;
  padding: 0 4px;
  line-height: 1.8;
  margin: 5px;
  width: 225px;
  font-size: 17px;
}

.search-form input {
  width: 200px;
}

.header-actions {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 13px;
  > a {
    padding: 10px;
    height: 40px;
  }
  > a:hover {
    border-bottom: 5px solid red;
    cursor: pointer;
  }
}

#logo {
  position: absolute;
  font-size: 28px;
  color: yellow;
  font-weight: 600;
  text-shadow: -2px 2px black;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0);
}

