.page-header {
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.search-form {
  background-color: white;
  padding: 0 4px;
  line-height: 2;
}

#logo {
  background-color: red;
  font-size: 28px;
}

