.home-track-list-container {
  margin: 0 auto;
  min-width: 800px;
  max-width: 1100px;
  margin-bottom: 30px;
  h2 {
    font-size: 48px;
    padding: 20px;
    font-weight: 700;
    margin-left: 33%; 
  }
}

.home-track-list {
  border-bottom: 2px solid $home-border-gray;
  a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    font-size: 28px;
    border-top: 2px solid $home-border-gray;
    .home-track-list-index {
      margin-right: 30px;
    }
    .home-track-list-main {
      display: flex;
      align-items: center;
      margin: 0 30px;
      width: 350px;
      span {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;      
      }
    }
  }
  a:hover {
    background-color: $home-hover-gray;
  }
}

.home-track-list-image {
  height: 65px;
  width: 65px;
  margin-right: 30px;
}

.home-track-list-artist {
  margin-left: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 300px;
}