.session-form-container {
  width: 70%;
  max-width: 1050px;
  margin: 0 auto;
  > h2 {
    display: block;
    width: 150px;
    font-size: 32px;
    text-align: center;
    color: white;
    margin: 0 auto;
    margin-top: 30px;
    font-family: sans-serif;
  }
}

.session-form {
  background-color: $session-dark-gray;
  width: 40%;
  margin: 14px auto;
  padding: 15px;
  color: white;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 500;
  border-radius: 2px;
  border-top: 1px solid $session-gray;
  input {
    width: 100%;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 15px;
    background-color: $session-gray;
    border: 1px solid $session-light-gray;
    line-height: 1.8;
    border-radius: 2px;
    padding: 2px 4px;   
  }
  input:focus {
    border: 1px solid $session-lightest-gray;
  }
  button {
    padding: 5px 8px;
    background-color: #2E2A29;
    border: 1px solid $session-light-gray;
    color: $session-button-white;
    border-radius: 2px; 
  }
  button:hover {
    background-color: tint(#2E2A29, 5%);
    border: 1px solid tin($session-light-gray, 5%);
    color: tint($session-button-white, 30%);
  }
}

#alternative {
  display: block;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  a {
    color: $session-link-blue;
  }
  a:hover {
    color: tint($session-link-blue, 40%);
  }
}

.demo:hover {
  cursor: pointer;
}

.session-error-list-container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 13px;
  background-color: $error-form-gray;
  h3 {
    background-color: $error-form-red;
    padding: 10px 0;
    padding-left: 30px;
    font-size: 14px;
  }
  p {
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 10px;  
  }
}

.session-error-list {
  list-style-type: disc;
  padding: 15px;
  padding-left: 40px;
  li {
    margin-bottom: 10px;
  }
  li:last-of-type {
    margin-bottom: 0;
  }
}